.accountContainer {
  overflow: hidden;
}

.accountContainer h4 {
  font-size: 20px;
  margin-bottom: 16px;
}

.accountContainer h6 {
  color: #83859c;
  margin: 16px 0 8px;
  font-size: 12px;
}

.accountCardContainer h5 {
  font-size: 18px;
  margin-top: 6px;
}

.accountCardContainer {
  padding: 16px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #edeef2;
  border-radius: 16px;
}

.accountCardContainer .personalInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 352px;
  margin-bottom: 70px;
}

.accountCardContainer .personalInfo div {
  display: flex;
  flex-direction: column;
}

.accountCardContainer .personalInfo label {
  font-size: 12px;
  margin-bottom: 4px;
}

.accountCardContainer .personalInfo input {
  border: 1px solid #c7c8d2;
  padding: 12px;
  border-radius: 8px;
}

.accountImageControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.accountImageControls img {
  background-color: red;
  border-radius: 8px;
  height: 88px;
  width: 88px;
}

.accountImageControls .changeButton {
  padding: 12px 16px;
  border: 1px var(--color-blue) solid;
  background-color: #fff;
  color: var(--color-blue);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
}

.accountImageControls .removeButton {
  padding: 12px 16px;
  background-color: #fff;
  border: 1px #fff solid;
  font-size: 14px;
  font-weight: 700;
  color: #83859c;
}

.checkboxesArea h5 {
  margin-bottom: 16px;
}

.checkboxesContainer {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.checkboxesContainer label {
  font-size: 14px;
  margin-left: 12px;
}

.checkboxesContainer div {
  display: flex;
  align-items: center;
}

.logoutButton {
  margin: 20px 0;
  background-color: #fff;
  border: 1px #ff5c60 solid;
  border-radius: 8px;
  height: 44px;
  width: 100%;
  color: #ff5c60;
  font-size: 14px;
  font-weight: 700;
}
