.backArrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  margin-right: 12px;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.forgotPwContainer {
  padding: 0 7px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.buttonText {
  font-weight: 700;
  font-size: 13px;
}

.backButton {
  display: flex;
  align-items: center;
  margin: 35px 8px 25px;
}

.forgotPwTitle {
  font-weight: 800;
  font-size: 40px;
  margin: 25px 0;
}

.forgotPwContainer p {
  color: #545563;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 32px;
}

.forgotPwContainer button {
  margin: 32px 0 48px;
}

.forgotPwContainer label {
  display: block;
}

.forgotPwContainer .faq {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.forgotPwContainer .faq a {
  color: blue;
}
