.formChangeButtons {
  display: flex;
  justify-content: space-between;
}

.formChangeButtons button {
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 700;
}

.formChangeButtons .discardButton {
  background-color: #fff;
  color: #83859c;
  border: 1px #83859c solid;
}

.formChangeButtons .saveButton {
  background-color: var(--color-blue);
  color: #fff;
  border: 1px var(--color-blue) solid;
}
