.checkboxContainer {
  position: relative;
}

input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  align-self: flex-start;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  outline: 2px solid #c7c8d2;
  border-radius: 4px;
}

input[type="checkbox"]:checked {
  background-color: var(--color-blue);
  outline-color: var(--color-blue);
}

.checkMark {
  position: absolute;
  left: 8px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  pointer-events: none;
}
