.loginFormContainer {
  padding-top: 60px;
}

.loginFormContainer h1 {
  font-size: 60px;
}

.loginFormContainer p {
  font-size: 14px;
  color: #545563;
}

.loginForm {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.loginForm label {
  font-size: 12px;
  padding-bottom: 4px;
}

.loginForm input[type="email"],
.loginForm input[type="password"] {
  border: 1px solid #c7c8d2;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 28px;
}

.loginForm::placeholder {
  color: #83859c;
}

.loginFormCheckbox {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.loginForm button {
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 8px;
  color: #fff;
  padding: 12px 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.loginFormContainer a {
  color: var(--color-blue);
  font-weight: 700;
  font-size: 14px;
}

.forgotPassword {
  text-align: center;
  margin-bottom: 15px;
}

.signUp {
  text-align: center;
  font-size: 14px;
}
