@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&family=Space+Grotesk:wght@500&display=swap");

.App {
  width: 100vw;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
